{% extends 'personal_site_layout.html' %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    {% block title %}
    <title>Projects</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'projects.css' %}">
    <script type="text/javascript"  src="{% static 'projects.js' %}"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <h1 class="text heading">Projects</h1>
    {% for project in projects %}
    <div class="card">
      <div class="image">
        <img src="static/{{project.img}}"  alt="">
      </div>
      <div class="name-description">
        <div class="name">
          <div class="text" site="{{project.url}}">
            {{project.name}}
          </div>
        </div>
        <div class="description">
          <div class="text">
            {{project.description}}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endblock %}
  </body>
</html>
